@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kablammo&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{ /* Para remover todo o espaçamento padrão do sistema*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Variáveis com a paleta de cores do mais claro ao mais escuro*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    /* Fonte padrão do site */
    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;

}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);

}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}
nav > a:hover{
    color: var(--cor5);
    background-color: var(--cor3);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.267);
}
main {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 0.9em;
    line-height: 2em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    padding: 2px 4px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
    padding: 2px 4px;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;
}